/* HTML */
/* <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS-Methods.css" />
    <title>Document</title>
    <style>
      h2 {
        color: red;
        font-size: 3rem;
      }
    </style>
  </head>
  <body>
    /* <!-- inline css -->
    <h1 style="color: cadetblue; font-size: 3rem">
      Methods of applying the css
    </h1> */
/*
    <!-- internal css -->
    <h2>Methods of applying the css</h2> */

    /* <!-- external css -->
    <h3>Methods of applying the css</h3>
  </body>
</html>

/* CSS */
/* external css */
h3 {
  color: royalblue;
  font-size: 3rem;
}

