/* elemental selector */
h1 {
  color: aliceblue;
}
p {
  color: aliceblue;
}
body {
  color: royalblue;
}

/* grouping selectors */
h1,
h2,
p {
  color: aliceblue;
}

/* id & class selectors */
/* id is unique */
/* class can set for than one element */
#id {
  color: aliceblue;
}
.class {
  color: aliceblue;
}

/* div & span selectors */
/* <div>
    <h1>Welcome</h1>
    <p>Lorem ipsum <span>dolor sit amen</span> connecter </p>
</div> */
div {
  color: aliceblue;
}
span {
  color: rebeccapurple;
}

/* Inheritance */
/* search it */

/* Universal selectors */
* {
  padding: 0;
  margin: 0;
}

/* Descendant selectors */
/* can select parent to child by tag or class or id */
ul li a {
  color: aliceblue;
}

/* combinator */
/* it will select it's own direct children */
/* it get << > >> after parent */
.parent > .direct-children {
  color: aliceblue;
}

/* select with attributes */
a[href] {
  color: red;
}
a[href="https://google.com"] {
  color: blue;
}


/* pseudo selectors */

/* :first-child */
/* get the first child of parent to make changes on it */
.test:first-child{
    color: #451366;
}

/* :last-child */
/* like first */
.test:last-child {
    color: #451366;
}

/* ::first-letter */
/* select the first letter */
.test::first-letter {
    color: #451366;
}

/* ::first-line */
/* select the first line */
.test::first-line {
    color: #451366;
}
