@font-face {
  font-family: 'iranyekanwebregular';
  src: url('../fonts/iranyekanwebregular.woff') format('woff');
}

@font-face {
  font-family: 'iranyekanwebmedium';
  src: url('../fonts/iranyekanwebmedium.woff') format('woff');
}

@font-face {
  font-family: 'YekanBakhMedium';
  src: url('../fonts/YekanBakhMedium.woff') format('woff');
}

@font-face {
  font-family: 'YekanBakhHeavy';
  src: url('../fonts/YekanBakhHeavy.woff') format('woff');
}

@font-face {
  font-family: 'YekanBakhBold';
  src: url('../fonts/YekanBakhBold.woff') format('woff');
}

@font-face {
  font-family: VazirmatnRegular;
  src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');
}
@font-face {
  font-family: VazirmatnSemiBold;
  src: url('../fonts/Vazirmatn-SemiBold.woff2') format('woff2');
}
