* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1512px;
  background-color: #ffffff;
  margin: auto;
  padding: 134px 110px;
  font-family: "YekanBakhMedium", Arial, Helvetica, sans-serif;
  color: #282828;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

.header__image {
  width: 477px;
}

.sing-in__header {
  color: #8a6ef8;
  font-family: "YekanBakhBold", Arial, Helvetica, sans-serif;
  font-size: 48px;
}
.sing-in__paragraph {
  font-family: "YekanBakhMedium", Arial, Helvetica, sans-serif;
  font-size: 28px;
  margin-right: 50px;
  color: #282828;
}

.button {
  background-color: #8a6ef8;
  font-family: "YekanBakhBold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  border-radius: 10px;
  padding: 8px 53px;
  font-size: 20px;
  border: none;
}

.sing-in__button {
  width: 257px;
  height: 56px;
  margin-top: 42px;
}

.container {
  display: flex;
  gap: 30px;
  margin-top: 154px;
}

.main {
  width: 70%;
}

.navbar {
  position: sticky;
  top: 50px;
  box-shadow: 0px -30px 0px 30px #ffffff;
  background-color: #ffffff;
  z-index: 998;
}

.navbar__list {
  border: dashed 1px #6308fd33;
  padding: 12px 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.navbar__list a {
  font-family: "VazirmatnRegular", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #282828;
  text-decoration: none;
}

.navbar__list a:hover {
  color: #7c3aed;
  text-decoration: underline;
  text-underline-offset: 11px;
  text-decoration-thickness: 2.5px;
}

.aside {
  width: 30%;
  height: 274px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 53px 37px #e6ddec40, 0px 0px 4px 0px #6308fd1a;
  position: sticky;
  top: 50px;
  z-index: 999;
}

.aside__header {
  font-family: "YekanBakhBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.aside__prices {
  width: 100%;
  margin-top: 50px;
}

.aside__price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.aside__prices--main-price {
  color: #00000059;
}

.aside__prices--festival-price {
  font-family: "YekanBakhBold", Arial, Helvetica, sans-serif;
  margin-top: 27px;
}

.aside__prices--festival-price .price {
  color: #6308fd;
}

.aside__button {
  width: 100%;
  margin-top: 27px;
  box-shadow: 0px 0px 5.9px 0px #6308fd80 inset;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.introduction {
  width: 100%;
  margin-top: 42px;
}

.introduction__h1 {
  font-family: "YekanBakhBold", "Courier New", Courier, monospace;
  margin-bottom: 12px;
  font-size: 28px;
}

.introduction__p {
  font-family: "VazirmatnRegular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 200%;
  text-align: justify;
}

.for-who,
.bootcamp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for-who__h1 {
  font-family: "YekanBakhBold", "Courier New", Courier, monospace;
  font-size: 28px;
}

.for-who__h1 span {
  color: #8a6ef8;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 17px;
  margin-top: 44px;
  padding: 4px;
}

.card {
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 16px;
  box-shadow: 0px 0px 22px 10px #e4a4ff29;
}

.card__icon {
  width: 50px;
  margin-bottom: 26px;
}

.card__h1 {
  font-family: "YekanBakhBold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 14px;
}

.card__p {
  font-size: 13px;
  text-align: justify;
  color: #282828e5;
}

.bootcamp {
  box-shadow: 0px 0px 10px 0px #00000014;
  border-radius: 20px;
  padding: 30px;
}

.bootcamp__h1 span {
  color: #8a6ef8;
}

.flex-cards {
  background: url("../images/Line\ 16.png") 90px 45px/654px no-repeat;
  width: 100%;
  margin-top: 44px;
  display: flex;
  position: relative;
  height: 330px;
}

.flex-card {
  max-width: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.flex-card__h1 {
  font-size: 16px;
  margin-top: 19px;
}

.flex-card__p {
  font-family: iranyekanwebregular, Arial, Helvetica, sans-serif;
  line-height: 150%;
  font-size: 12px;
  color: #282828e5;
  text-align: center;
}

.next {
  position: absolute;
  left: 9px;
  top: 80px;
}

.react {
  color: #167cce;
  position: absolute;
  left: 159px;
  top: 15px;
}

.git {
  color: #e23c16;
  position: absolute;
  left: 321px;
  top: 80px;
}

.js {
  color: #e7c407;
  position: absolute;
  right: 150px;
  top: 15px;
}

.html {
  color: #e26715;
  position: absolute;
  right: 15px;
  top: 83px;
}

.headlines {
  background-color: #8a6ef8;
  border-radius: 25px;
  padding: 33px 52px;
}

.headlines__header {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-family: "VazirmatnSemiBold", "Courier New", Courier, monospace;
  margin-bottom: 35px;
}

.headlines__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.headline {
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px 20px;
  transition: all 0.3s ease;
}

.headline > summary {
  list-style-type: none;
  cursor: pointer;
  font-family: Vazirmatnsemibold, Arial, Helvetica, sans-serif;
  font-size: 22px;
  transition: all 0.1s;
}

.headline > summary::after {
  content: url("../images/arrow-down.png");
  float: left;
  margin-top: 8px;
}

.headline[open] > summary::after {
  content: url("../images/arrow-up.png");
}

.headline__list {
  margin: 22px;
  color: #282828cc;
}

.headline[open] > summary {
  color: #8a6ef8;
}

.milad__container {
  display: flex;
  gap: 35px;
  margin-top: 40px;
}

.milad__images {
  position: relative;
}

.milad__img {
  z-index: 20;
}

.dot1 {
  position: absolute;
  left: 5px;
  top: 48%;
  z-index: -1;
}
.dot2 {
  position: relative;
  right: 30px;
  bottom: 50px;
  z-index: -1;
}

.milad__intro {
  padding: 40px 0;
}
.milad__intro h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
.milad__intro h4 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 15px;
}

.milad__intro p {
  text-align: justify;
  line-height: 250%;
  word-spacing: 1px;
}

.mentors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentors__h1 {
  font-size: 28px;
  margin-bottom: 70px;
}

.mentors__scroll {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: top;
}

.scroll-arrow {
  width: 32px;
  height: 32px;
  margin-top: 45px;
}

.mentors__list {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mentor__img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.mentor:last-child .mentor__img {
  object-position: 0 30%;
}

.mentor:nth-child(3) {
  scale: 1.3;
  position: relative;
  top: 8px;
  margin: 0 20px;
}

.footer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__h1 {
  font-family: "YekanBakhBold";
  font-size: 32px;
}

.footer__flexbox {
  display: flex;
  position: relative;
}

.footer__question-boxes {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-box {
  width: 894px;
  border: 1px solid #00000040;
  border-radius: 14px;
  padding: 28px;
}

.question-box__summary {
  width: 100%;
  cursor: pointer;
  list-style-type: none;
  font-family: "YekanBakhBold";
  font-size: 24px;
}

.question-box__summary::before {
  content: url("../images/message-question.png");
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-left: 20px;
}

.question-box__summary::after {
  content: url("../images/arrow-down.png");
  float: left;
  margin-top: 8px;
}

.question-box[open] .question-box__summary::after {
  content: url("../images/arrow-up.png");
}

.question-box__p {
  padding: 20px 50px 0 0;
}

.footer__img,
.footer__tag-container {
  width: 224px;
  height: 224px;
}

.footer__tag {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 480px) {
  body {
    padding: 126px 0;
  }

  .header {
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    /* margin: 35px; */
    position: relative;
  }

  .sing-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sing-in__header {
    font-size: 28px;
    text-align: center;
  }

  .sing-in__paragraph {
    font-size: 18px;
    margin: auto;
  }

  .button {
    font-size: 16px;
    padding: 8px 38px;
  }

  .sing-in__button {
    width: 204px;
    height: 42px;
    position: absolute;
    bottom: 0;
  }

  .header__image {
    width: 262px;
    margin: 50px 0 105px;
  }

  .main {
    width: 100%;
  }

  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .navbar__list {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 0;
  }

  .navbar__list::-webkit-scrollbar {
    display: none;
  }

  .aside {
    width: 100%;
    border-radius: 0;
    height: 74px;
    padding: 12px 30px;
    flex-direction: row;
    top: 140px;
    background: #ffffff;
  }

  .aside__button {
    width: 112px;
    margin-top: 0;
    margin-right: 30px;
    white-space: nowrap;
  }

  .aside__header {
    display: none;
  }

  .aside__prices {
    margin: 0;
  }

  .aside__price {
    font-size: 16px;
    justify-content: space-between;
  }

  .aside__prices--festival-price {
    margin-top: 12px;
  }

  .aside__button span {
    display: none;
  }

  .introduction,
  .for-who,
  .bootcamp {
    padding: 0 29px;
  }

  .introduction__p span {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .headlines {
    border-radius: 0;
    padding: 33px 22px;
  }

  .bootcamp {
    box-shadow: none;
  }

  .flex-cards {
    height: 730px;
    background: url("../images/Line\ 16\ rotated.png") 80px no-repeat;
  }

  .flex-card {
    flex-direction: row-reverse;
    max-height: 100px;
    gap: 30px;
    max-width: 300px;
  }

  .flex-card__h1 {
    margin-top: 0;
  }

  .flex-card__info {
    width: 190px;
  }

  .next {
    top: 650px;
    left: 100px;
  }
  .react {
    left: 50px;
    top: 480px;
  }

  .git {
    left: 105px;
    top: 315px;
  }

  .js {
    right: 55px;
    top: 155px;
  }

  .html {
    right: 0;
    top: 0;
  }

  .bootcamp__h1 {
    font-size: 26px;
  }

  .question-box {
    width: 20px;
  }
}
