* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.login-form {
  width: 430px;
  height: 700px;
  background-color: #f0f9ff;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.logo {
  background: url("./images/553f48a3c9c008b44e7b4829fbcd4476.jpg") center/cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* box-shadow: 0 0 0 4px #fff, 8px 8px 10px #cbced1; */
  box-shadow: 0 0 2px #5f5f5f,
  0 0 0 5px #ecf0f3,
  8px 8px 15px #afaaa7,
  -8px -8px 15px #ffffff;
  margin-bottom: 24px;
}

.title {
  font-size: 2rem;
  margin-bottom: 75px;
}

.field {
  width: 90%;
  margin-bottom: 50px;
}

.user,
.pass {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
  border-radius: 15px;
  box-shadow: inset 4px 4px 5px #cbced1, inset -4px -4px 5px #fff;
}

.user {
  margin-bottom: 30px;
}

.user-input,
.pass-input {
  border: none;
  background: none;
  font-size: 1rem;
  outline: none;
}

.svg-icon {
  width: 20px;
}

.login-button {
  border: none;
  background-color: #02c8db;
  width: 90%;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 3px 3px 8px #cbced1,
  -3px -3px 8px #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-button:hover {
    background-color: #50e5b9;
}

.sign-up a {
  text-decoration: none;
  color: #aaa;
  font-size: 0.9rem;
  font-weight: 500;
}

.sign-up {
  color: #000;
}
