* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00154f;
  padding: 0 2rem;
  height: 60px;
}

h1 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

body {
  background-color: #edf2f7;
}

.mainscreen {
  display: flex;
  margin: 1rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  height: calc(100vh - 60px - 2rem);
}

aside,
main {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

aside {
  width: 30%;
  margin-right: 20px;
}

main {
  width: 70%;
}

.cards {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card-img {
  width: 100%;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}
.content {
  width: 100%;
  padding: 10px;
  line-height: 1.5rem;
}
